/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    background-color: #004080;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin: 0;
}

h2, h3 {
    color: #004080;
    margin-bottom: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.form-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input[type="text"], input[type="number"], select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: inline-block;
    background-color: #004080;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003366;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e4e4e4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos adicionales para botones de ordenamiento */
.button-group button {
    flex: 1 1 auto;
    margin: 5px;
}

/* Estilos para la sección de limpiar la base de datos */
#btn-limpiar-lista {
    width: 100%;
    background-color: #d9534f;
}

#btn-limpiar-lista:hover {
    background-color: #c9302c;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    button, input[type="text"], input[type="number"], select {
        width: 100%;
        margin: 5px 0;
    }

    .button-group {
        flex-direction: column;
    }
}
